<ul>
    <li *ngFor="let event of eventJoined">
        <div (click)="onDivClick(event.id, event.name)">
            <img [src]="event.banner" alt="[Image]">
            <p>{{ formatedDate(event.startingDate) }}</p>
            <h3>{{ event.name }}</h3>
        </div>
        <button (click)="onLeaveEvent(event.id)" class="button less-important-action"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>Abandonner l'évènement</title><path d="M9,3V4H4V6H5V19A2,2 0 0,0 7,21H17A2,2 0 0,0 19,19V6H20V4H15V3H9M7,6H17V19H7V6M9,8V17H11V8H9M13,8V17H15V8H13Z" /></svg></button>
    </li>
</ul>