<app-title-style title="CGU"></app-title-style>
<p>
    C'est un petit peu long, donc on t'a fait un résumé en dessous. Mais si besoin, voici les Conditions Générales d'Utilisation.
</p>
<div style="text-align: center;">
    <button class="button" [routerLink]="['/cgu']">Les conditions</button>
</div>
<app-title-style title="Tes données"></app-title-style>
<p>
    Toutes les données collectées le sont dans le but de renseigner la position, et les informations servant à remplir le profil et les évènements. Elles ne sont effacées qu'à la suppression du compte, et ne sont pas transmises à des tiers. L'application ne fonctionne pas avec des cookies, mais des données stockées en local sur ton ordinateur sont utilisées (voir dans la console > Stockage > Stockage local), notamment pour afficher ou non le tutoriel lors de la première visite.
</p>
<app-title-style title="Propriété intellect"></app-title-style>
<p>
    Les images utilisées sont libres de droit pour la page d'accueil (/welcome), ou sont la propriété des utilisateur·ices et organisations les ayant renseignées. De même que les textes publiés.
</p>
<p>
    Utilisation des services : maplibregl, geoapify.com et ip-api.com pour les informations liées à la carte.
</p>
<app-title-style title="Nous"></app-title-style>
<ul>
    <li>Nicolas GUÉRIN - nicolas.guerin.pro@laposte.net</li>
    <li>Théo SERRES - </li>
    <li>Hébergeur&nbsp;:</li>
</ul>